extends ./layout
block content
    .container.mt-5
        h1 Login Here
        form(action='/login',method="POST")
            .mb-3
                label.form-label(for='exampleInputEmail1') Email address
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' name="email")
            .mb-3
                label.form-label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(type='password' name="password")
            button.btn.btn-primary(type='submit') Submit